h1, h2 {
    font-family: "Gloria Hallelujah", "serif"; 
}

h1 {
  font-size: 5em;
}

button {
  font-family: "Gloria Hallelujah", "serif";
  font-size: 1.5em;  
  color: #fff;
  background-color: #9D47DE;
  box-shadow: rgba(0, 0, 0, 0.45) 10px 10px 35px;
  border-radius: 55px;
  padding: 1em;
}

header {
  background-color: #9D47DE;
  color: #fff;
  width: 100%;
}

p {
  font-family: "Short Stack", "sans-serif";
}

ol li {
font-family: "Short Stack", "sans-serif";
text-align: left;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #adadad;
}

a:active {
  color: black;
}




/* ****** color boxes ****** */
.blue {
  background-color: #4B47DE;
  border-radius: 25px;
  padding: 2em;
  color: white;
}

.violet {
  background-color: #9D47DE;
  border-radius: 25px;
  padding: 2em;
  color: white;
}

.lightBlue {
  background-color: #5078FA;
  border-radius: 25px;
  padding: 2em;
  color: white;
}

.purple {
  background-color: #885AF5;
  border-radius: 25px;
  padding: 2em;
  color: white;
}

.interview {
  background-color: #4B47DE;
  color: white;
  border-radius: 135px;
  padding: 2em;
}
/* ****** /color boxes ****** */











.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: .5em;
}
.grid-item {
  padding: .5em;
  text-align: center;
}







/* about page profile pic */
.right {
  float: right;
}

.aboutMargin {
  margin: 0em 10em;
  line-height: 1.5em;
}
