body {
  background-color: #f1f1f1;
  margin: 0%;
}

main {
  margin-top: 15%;
  margin-right: 10%;
  margin-left: 10%;
}

p {
  font-family: "Short Stack", "sans-serif";
}

h1, h2 {
  font-family: "Gloria Hallelujah", "serif"; 
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #adadad;
}

p > a:link {
  text-decoration: underline;
}

button {
  font-family: "Gloria Hallelujah", "serif"; 
  color: #fff;
  background-color: #9D47DE;
  box-shadow: rgba(0, 0, 0, 0.45) 10px 10px 35px;
  border-radius: 55px;
  font-size: 1.25em;
  padding: .5em;
  margin-right: .5em;
}

button:hover {
  color: #adadad;
  box-shadow: rgba(0, 0, 0, 0.65) 10px 10px 35px;
}

button:active {
  color: black;
}

img {
  width: 100%;
  height: auto;
}


figcaption {
  color: black;
}

/* ****** color boxes ****** */
.blue {
  background-color: #4B47DE;
  border-radius: 25px;
  padding: 2em;
  color: white;
}
.blue:hover{
  box-shadow: rgba(0, 0, 0, 0.65) 10px 10px 35px;
}

.violet {
  background-color: #9D47DE;
  border-radius: 25px;
  padding: 2em;
  color: white;
}
.violet:hover{
  box-shadow: rgba(0, 0, 0, 0.65) 10px 10px 35px;
}

.lightBlue {
  background-color: #5078FA;
  border-radius: 25px;
  padding: 2em;
  color: white;
}
.lightBlue:hover{
  box-shadow: rgba(0, 0, 0, 0.65) 10px 10px 35px;
}

.purple {
  background-color: #885AF5;
  border-radius: 25px;
  padding: 2em;
  color: white;
}
.purple:hover{
  box-shadow: rgba(0, 0, 0, 0.65) 10px 10px 35px;
}

/* ****** /color boxes ****** */



.flex-container {
  display: flex;
}

.flex-item {
  color: white;
  width: 50%;
  margin: 10px;
}



/*  ******* header stuff *******  */
header {
  background-color: #9D47DE;
  padding: 3em; 
  position: absolute;
  width: 100%;
  top:0%;
}

.container {
  float: right;
  margin-right: 10%;
  position: absolute;
  top: 1em;
  right: 1em; 
}

.navButtons {
  float:left;
}


/*  ******* /header stuff *******  */




.interview {
  background-color: #4B47DE;
  color: white;
  border-radius: 135px;
  padding: 2em;
}
ol li {
  font-family: "Short Stack", "sans-serif";
  text-align: left;
  }
  
.list {
  display: grid;
  grid-template-columns: auto auto;
}

.left {
  float: left;
}

.right {
  float: right;
}


.aboutMargin {
  margin: 15% 10em 5% 10%;
  line-height: 1.5em;
}












/*    ************* footer ********   */
footer {
  background-color: #9D47DE;
  color: white;
  width: 100%;
  padding: 2em;
  margin-top: 1em;
}

footer > h2 {
  width: 45%;
  float: left;  
  margin-left: 15%;
}




/*    ************* /footer ********   */
